In [29]:
import csv
import pandas as pd
import re

In [184]:
horse = pd.read_csv('horse_data.csv', na_values = '?')
horse.columns = ['surgery?', 'Age', 'Hospital', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous', 'capillary', 'pain', 'peristalsis', 'abdominal', 'nasogastric', 'nasogastric', 'nasogastric', 'rectal', 'abdomen', 'packed', 'total', 'abdominocentesis', 'abdomcentesis', 'outcome', 'surgical lesion?' , 'type of lesion', 'type of lesion','type of lesion','cp_data']
horse

,surgery?,Age,Hospital,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous,capillary,...,packed,total,abdominocentesis,abdomcentesis,outcome,surgical lesion?,type of lesion,type of lesion,type of lesion,cp_data
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
295,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
296,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
297,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
298,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [185]:
(horse.isna().mean() * 100).round(2)
horse_task= horse.loc[:, ['surgery?','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain', 'outcome']]
print(horse_task.info())
(horse_task.isna().mean() * 100).round(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB
None

surgery?                       0.33
Age                            0.00
rectal temperature            20.07
pulse                          8.03
respiratory rate              19.40
temperature of extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

In [120]:
# Базовые статистика по количественным характеристикам
print('температура: 1. Нормальная 37.8, 2. Выше- инфекция, 3. Ниже - шок')
print('Значение моды: ', horse_task['rectal temperature'].round().mode()[0])
print(horse_task['rectal temperature'].describe(), end = '\n\n')
print('пульс: 1. Нормальная 30-40, 2. Выше - поражение 3. Ниже - редко у спортивных лошадей')
print('Значение моды: ', horse_task['pulse'].round().mode()[0])
print(horse_task['pulse'].describe(), end = '\n\n')
print('частота дыхания: Мало полезен в норме 8 - 10')
print('Значение моды: ', horse_task['respiratory rate'].round().mode()[0])
print(horse_task['respiratory rate'].describe(), end = '\n\n')
print('температура конечностей: 1. нормальные 2. Горячие- повышенная ректальные температура 3. Прохлданые 4. Холодные - шок')
print('Значение моды: ', horse_task['temperature of extremities'].round().mode()[0])
print(horse_task['temperature of extremities'].value_counts(), end = '\n\n')
print('возраст')
print(horse_task['Age'].value_counts(), end = '\n\n')
print('Боль')
print(horse_task['pain'].value_counts(), end = '\n\n')
print('Результат')
print(horse_task['outcome'].value_counts(), end = '\n\n')

температура: 1. Нормальная 37.8, 2. Выше- инфекция, 3. Ниже - шок
Значение моды:  38.0
count    239.000000
mean      38.166527
std        0.733508
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

пульс: 1. Нормальная 30-40, 2. Выше - поражение 3. Ниже - редко у спортивных лошадей
Значение моды:  48.0
count    275.000000
mean      71.934545
std       28.680522
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

частота дыхания: Мало полезен в норме 8 - 10
Значение моды:  20.0
count    241.000000
mean      30.427386
std       17.678256
min        8.000000
25%       18.000000
50%       24.000000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

температура конечностей: 1. нормальные 2. Горячие- повышенная ректальные температура 3. Прохлданые 4. Холодные - шок
Значение моды:  3.0
3.0    108
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

возраст
1    275
9     24
Name: Age, dtype: int64

Боль
3.0    67
2.0    59
5.0    41
4.0    39
1.0    38
Name: pain, dtype: int64

Результат
1.0    178
2.0     76
3.0     44
Name: outcome, dtype: int64

In [126]:
# Выбросы
print('температура: 1. Нормальная 37.8, 2. Выше- инфекция, 3. Ниже - шок')
tem_req_q1 = horse_task['rectal temperature'].quantile(0.25)
tem_req_q3 = horse_task['rectal temperature'].quantile(0.75)
tem_req_iqr = tem_req_q3 - tem_req_q1
tem_req_lower_bound = tem_req_q1 - (1.5 * tem_req_iqr) 
tem_req_upper_bound = tem_req_q3 + (1.5 * tem_req_iqr)
tem_req_remove_outliers = horse_task[horse_task['rectal temperature'].between(tem_req_lower_bound, tem_req_upper_bound, inclusive=True)].sort_values('rectal temperature')
pd.concat([horse_task, tem_req_remove_outliers]).drop_duplicates(keep=False).dropna()

температура: 1. Нормальная 37.8, 2. Выше- инфекция, 3. Ниже - шок

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
43,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
53,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
79,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
90,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
98,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
117,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
250,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
258,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [122]:
print('пульс: 1. Нормальная 30-40, 2. Выше - поражение 3. Ниже - редко у спортивных лошадей')
puls_q1 = horse_task['pulse'].quantile(0.25)
puls_q3 = horse_task['pulse'].quantile(0.75)
puls_iqr = puls_q3 - puls_q1
puls_lower_bound = puls_q1 - (1.5 * puls_iqr) 
puls_upper_bound = puls_q3 + (1.5 * puls_iqr)
puls_remove_outliers = horse_task[horse_task['pulse'].between(puls_lower_bound, puls_upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([horse_task, puls_remove_outliers]).drop_duplicates(keep=False).dropna()

пульс: 1. Нормальная 30-40, 2. Выше - поражение 3. Ниже - редко у спортивных лошадей

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [121]:
print('частота дыхания: Мало полезен в норме 8 - 10')
res_rate_q1 = horse_task['respiratory rate'].quantile(0.25)
res_rate_q3 = horse_task['respiratory rate'].quantile(0.75)
res_rate_iqr = res_rate_q3 - res_rate_q1
res_rate_lower_bound = res_rate_q1 - (1.5 * res_rate_iqr) 
res_rate_upper_bound = res_rate_q3 + (1.5 * res_rate_iqr)
res_rate_remove_outliers = horse_task[horse_task['respiratory rate'].between(res_rate_lower_bound, res_rate_upper_bound, inclusive=True)].sort_values('respiratory rate')
pd.concat([horse_task, res_rate_remove_outliers]).drop_duplicates(keep=False).dropna()

частота дыхания: Мало полезен в норме 8 - 10

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
83,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0

# Замена пропусков

In [159]:
horse_task[horse_task['surgery?'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
131,NaN,1,38.0,48.0,20.0,3.0,4.0,3

In [132]:
horse_task[horse_task['rectal temperature'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
33,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
34,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
39,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
42,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
56,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
58,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
64,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
67,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
77,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
85,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
86,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
95,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
100,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
104,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
109,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
111,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
114,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
133,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
135,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
141,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
144,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
151,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
166,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
168,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
172,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
176,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
177,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
190,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
192,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
218,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
221,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
241,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
244,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
252,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
253,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
264,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
271,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
292,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [134]:
horse_task[horse_task['pulse'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
77,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
82,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
135,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
181,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [135]:
horse_task[horse_task['respiratory rate'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
28,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
31,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
36,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
37,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
39,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
42,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
49,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
60,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
65,2.0,1,37.9,72.0,NaN,1.0,3.0,1.0
71,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
77,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
80,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
111,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
128,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
133,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
135,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
136,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0
137,2.0,1,38.0,56.0,NaN,1.0,1.0,1.0
141,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,1.0,1,38.2,48.0,NaN,1.0,3.0,1.0
147,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
151,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
163,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
172,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
178,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
187,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
200,1.0,1,38.5,86.0,NaN,1.0,4.0,2.0
204,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
237,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
244,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
248,2.0,1,38.2,48.0,NaN,2.0,3.0,1.0
253,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
255,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
270,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
283,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [136]:
horse_task[horse_task['temperature of extremities'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
22,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
24,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
35,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
36,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
71,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
80,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
86,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
89,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
94,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
95,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
105,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
112,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
120,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
127,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
128,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
129,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
140,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
147,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
148,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
160,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
164,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
168,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
176,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
180,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
189,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
201,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
209,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
216,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
231,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
238,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
259,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
262,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
267,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
279,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
282,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
288,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [137]:
horse_task[horse_task['pain'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
18,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
23,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
24,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
26,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
35,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
67,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
71,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
86,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
95,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
105,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
112,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
128,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
129,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
140,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
151,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
156,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
160,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
164,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
184,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
185,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
187,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
194,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
201,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
207,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
212,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
216,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
231,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
233,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
242,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
256,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
267,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
268,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
292,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [158]:
horse_task[horse_task['outcome'].isna()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

# Столбец 'surgery'

In [187]:
print(horse_task.groupby('outcome')['surgery?'].value_counts())
# Так как большинство успленных лощадей были взрослыми, то заполняем Nan==1
horse_task['surgery?'].fillna(horse_task['surgery?'].min(), inplace=True)
print(horse_task[horse_task['surgery?'].isna()])

outcome  surgery?
1.0      1.0         95
         2.0         83
2.0      1.0         58
         2.0         18
3.0      1.0         27
         2.0         17
Name: surgery?, dtype: int64
Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

# Столбец 'outcome'

In [186]:
print(horse_task.groupby(['pain','temperature of extremities'])['outcome'].value_counts())
# Исходя из данных большиносто лошадей с показанием боли 4 и 3 степени температуры конечностей были усыплены, поэтому заполняем NaN == 3
horse_task['outcome'].fillna(horse_task['outcome'].max(), inplace=True)

pain  temperature of extremities  outcome
1.0   1.0                         1.0        17
                                  2.0         1
      2.0                         1.0        11
      3.0                         1.0         5
                                  2.0         1
                                  3.0         1
2.0   1.0                         1.0        14
                                  3.0         2
      2.0                         1.0         3
                                  3.0         1
      3.0                         2.0        10
                                  1.0         9
                                  3.0         5
      4.0                         1.0         3
                                  2.0         3
                                  3.0         3
3.0   1.0                         1.0        25
                                  2.0         1
      2.0                         1.0         7
                                  2.0         2
      3.0                         1.0        14
                                  2.0         5
                                  3.0         4
      4.0                         1.0         4
4.0   1.0                         2.0         7
      2.0                         1.0         3
      3.0                         3.0         8
                                  2.0         6
                                  1.0         5
      4.0                         2.0         2
                                  3.0         2
5.0   1.0                         1.0         3
                                  2.0         2
                                  3.0         1
      2.0                         2.0         1
      3.0                         2.0        16
                                  1.0         8
                                  3.0         1
      4.0                         2.0         4
                                  3.0         2
Name: outcome, dtype: int64

# Столбец 'rectal temperature'

In [203]:
horse_task[horse_task['rectal temperature'].isna()]
print(horse_task['rectal temperature'].mode()[0])
print(horse_task.groupby(['surgery?','outcome'])['rectal temperature'].describe())
#Так как разброс значении температуры незначительный (std), то заполняем Nan средним значением в зависимотси от наличия операции и результата
horse_task['rectal temperature'].fillna(horse_task.groupby(['surgery?','outcome'])['rectal temperature'].transform('mean'), inplace=True)

38.0
                  count       mean       std   min    25%    50%    75%   max
surgery? outcome
1.0      1.0       80.0  38.146250  0.583300  36.5  37.80  38.20  38.50  39.9
         2.0       39.0  38.187179  0.803342  36.4  37.75  38.10  38.75  40.8
         3.0       22.0  38.050000  0.966461  35.4  37.50  38.00  38.60  39.7
2.0      1.0       72.0  38.240278  0.553264  36.9  37.90  38.25  38.60  39.6
         2.0       13.0  38.130769  1.288012  36.0  37.30  38.00  39.00  40.3
         3.0       13.0  38.053846  1.098192  36.1  37.20  38.20  38.50  40.3

# Столбец pulse

In [262]:
def cat_temp_req(tem):
    '''1- шок, 2- норма 3- инфекция'''
    if tem <= 37.7:
        return '1'
    elif 37.8 == tem:
        return '2'
    elif tem > 37.8:
        return '3'
#Разнесем ректальную температуру по категориям
horse_task['cat_temp']= horse_task['rectal temperature'].apply(cat_temp_req)
# Заменим Nan сердним исход из категории температуры 
#horse_task.groupby('cat_temp')['pulse'].describe()
horse_task['pulse'].fillna(horse_task.groupby(['cat_temp'])['pulse'].transform('mean'), inplace=True)
horse_task[horse_task['pulse'].isna()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome, cat_temp]
Index: []

# Столбец respiratory rate

In [265]:
#Так как полезность данного параметра сомнительна то заполним средним в завиисмоти от категории температуры


horse_task['respiratory rate'].describe()
horse_task['respiratory rate'].fillna(horse_task.groupby(['cat_temp'])['respiratory rate'].transform('mean'), inplace=True)
horse_task[horse_task['respiratory rate'].isna()]

# Столбец temperature of extremities

In [279]:
# Заполним Nan в зависимости от ректальной температуры
def cat_temp_ext(tem):
    if 35.4 <= tem <= 36.5:
        return '4'
    elif 36.5< tem <=37.5:
        return '3'
    elif 37.5< tem <=38.0:
        return '1'
    elif tem > 38.0:
        return '2'
horse_task['temperature of extremities'].fillna(horse_task['rectal temperature'].apply(cat_temp_ext), inplace=True)
horse_task[horse_task['temperature of extremities'].isna()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome, cat_temp]
Index: []

# Столбец pain

In [290]:
horse_task[horse_task['pain'].isna()]
# Заполним столбец с покателем боли в зависимости от кочненого результата и данных о операции
'''
Наличие операции:
    1 = Да, была операция
    2 = Лечение прошло без хирургического вмешательства
Конечнй резуьтат
    1 = жил
    2 = умер
    3 = был усыплен
'''
def pain(surg, outcome):
    if surg == 1.0 and outcome == 3.0:
        return 4.0
    elif surg == 1.0 and outcome == 2.0:
        return 5.0
    elif surg == 1.0 and outcome == 1.0:
        return 1.0
    elif surg == 2.0 and outcome == 1.0:
        return 2.0
    elif  surg == 2.0 and outcome == 2.0:
        return 3.0
    elif  surg == 2.0 and outcome == 3.0:
        return 3.0
horse_task['pain'].fillna(horse_task.apply(lambda x: pain(x['surgery?'], x['outcome']), axis=1), inplace=True)

In [292]:
horse_task.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,pain,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.394649,1.64214,38.165092,72.166297,30.549472,2.862876,1.555184
std,0.489595,2.17730,0.656062,27.512586,15.887861,1.357774,0.741483
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000
25%,1.000000,1.00000,37.900000,48.000000,20.000000,2.000000,1.000000
50%,1.000000,1.00000,38.187179,68.000000,30.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,34.500000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,5.000000,3.000000

In [296]:
horse_1 = pd.read_csv('horse_data.csv', na_values = '?')
horse_1.columns = ['surgery?', 'Age', 'Hospital', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous', 'capillary', 'pain', 'peristalsis', 'abdominal', 'nasogastric', 'nasogastric', 'nasogastric', 'rectal', 'abdomen', 'packed', 'total', 'abdominocentesis', 'abdomcentesis', 'outcome', 'surgical lesion?' , 'type of lesion', 'type of lesion','type of lesion','cp_data']
horse_task_1= horse_1.loc[:, ['surgery?','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain', 'outcome']]
horse_task_1.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
# Сравнение между заполненной таблицой и пропусками, средние значения изменились незначительно.